<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>791649226092-u1hctfienfdf1i32r3gthdjlv7v0hidv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.791649226092-u1hctfienfdf1i32r3gthdjlv7v0hidv</string>
	<key>API_KEY</key>
	<string>AIzaSyAEIaH04c-JDAaTBER4ZOyGkRYgazdGnMI</string>
	<key>GCM_SENDER_ID</key>
	<string>791649226092</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.s3791159.TinderApp</string>
	<key>PROJECT_ID</key>
	<string>swiftui-tinder-app</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftui-tinder-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:791649226092:ios:b5436dd10d420a986bb749</string>
</dict>
</plist>
